<configuration>
    <property name="APP_LOCATION" value="/logs" />
	<appender name="FILE_SETTING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>
			${APP_LOCATION}/kafkanumberconsumeservice2.log
		</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} - %msg%n
			</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>
				${APP_LOCATION}/archived/kafkanumberconsumeservice2.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>
					10MB
				</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<logger name="vn.quang" level="debug" additivity="false">
		<appender-ref ref="FILE_SETTING" />
	</logger>

	<root level="error">
		<appender-ref ref="FILE_SETTING" />
	</root>
</configuration>